.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
    overflow-y: auto;
}

.header {
     margin: 0;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        padding: 0;
        margin-top: 0;
    }

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #DE614D;
    border-right: 2px solid #B14837;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

    #menu a {
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: none;
    }

        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #de604d;
        }

    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #49449B;
    }
        #menu .pure-menu-selected a {
            color: #fff;
        }

    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #de604d;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #de604d;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media (max-width: 48em) {
    #layout.active {
        position: relative;
        left: 150px;
    }
}

/* Purecss classes override */
body {
    color: #000;
    font-family: "Open Sans",sans-serif;
}

#menu {
  width: 270px;
}

    #menu a {
        color: white;
        font-weight: 600;
        font-size: 12pt;
    }

    #menu .pure-menu-heading {
      background: none;
      text-transform: none;
      display: inline-block;
    }

    #menu #userbar {
        padding-right: 0.6em;
        margin-right: 75px;
    }

    #menu #userbar-logout-button {
        margin-left: 10px;
    }

    #menu #index-menu-item {
        font-size: 14pt;
        padding-top: 0.4em;
        vertical-align: sub;
        font-weight: bold;
        font-size: 20pt;
        padding-left: 0.5em;
    }

    #menu #index-menu-item, #menu #userbar-storage-menu {
        padding-bottom: 0px;
    }

    #menu #userbar-login-menu, #menu #userbar-storage-menu {
        display: block;
    }

    #menu #userbar-storage-menu {
        padding-top: 0px;
        padding-bottom: 12px;
    }

.content {
  position: fixed;
  margin: 0;
  padding: 0px;
  left: 270px;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  max-width: calc(100vw - 270px);
  width: 100vw;
}

    .content > div {
        padding: 0 6px;
    }

    .content > div:first-child {
        padding-top: 6px;
        padding-bottom: 6px;
    }

#keep-user {
    margin-right: 7px;
}

#keep-user-label span:last-child {
    color: #B14837;
    padding-left: 20px;
}

.error-highlight {
    border: 1px solid red !important;
}

.info-highlight {
    border: 1px solid sandybrown !important;
}

.valid-highlight {
    border: 1px solid green !important;
}

.icon-button {
    cursor: pointer;
}

.sidebar-icon {
    color: white;
    font-size: 14pt;
}

.modal-close {
    font-size: 24px;
    margin-bottom: 12px;
}

#groups-storage {
    margin-left: 0.6em;
}

#groups-header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

    #groups-header input {
        flex-grow: 2;
        max-width: 180px;
        margin-right: 5px;
    }

#sidebar-search-button {
    position: absolute;
    left: 145px;
    font-size: 22px;
    top: 2px;
    color: rgba(73, 68, 155, 0.45);
    padding-left: 6px;
    padding-top: 3px;
}

#sidebar-search-button.toggle-btn-active {
    color: #39A459;
}

#groups-list {
    position: fixed;
    max-height: 100%;
    margin-top: 8px;
    overflow-y: auto;
    width: 260px;
    padding-right: 5px;
}

    #groups-list .group-element {
        display: block;
        cursor: pointer;
        color: white;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #groups-list .group-element:focus {
        border: 1px solid #fff;
    }

    .group-element input[type="text"] {
        color: #000;
        margin: 3px 0;
    }

    .group-element span {
        max-width: 230px;
        overflow-x: auto;    
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
    }

    .group-element:hover {
        padding-left: 7px;
        background: #7C77CD;
        border-left: 4px solid #1A1665;
    }

    .group-element i, .rc-table-icon {
        float: right;
        margin-right: 7px;
        font-size: 20px;
        padding-top: 4px;
        width: 21px;
    }

    .rc-table-icon {
        padding-top: 0px;
        font-size: 18px;
    }

    .group-element:hover .group-entry-rename:before {
        content: "\f044";
    }

    .group-element:hover .group-entry-delete:before {
        content: "\f00d";
    }

    .group-element .group-entry-rename {
        padding-top: 5px;
    }

    #groups-list .group-element-active {
        padding-left: 7px;
        border-left: 4px solid #7C77CD;
        background: #49449B;
    }

.entry-modal-overlay {
    position: fixed;
    top: 0px;
    left: 270px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
}

.new-entry-modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.entry-url {
    width: 420px;
    margin-right: 8px;
}

.entry-email {
    width: 315px;
    margin-right: 8px;
}

.entry-lastname {
    margin-left: 8px;
}

.rc-table tr {
    line-height: 23px;
}

#store-table-controls {
    margin-bottom: 6px;
}

    #store-table-controls input {
        margin-right: 7px;
        width: auto;
    }

    #store-table-controls .react-paginator-input {
        width: 38px;
    }

.tab-content {
    padding-left: 15px;
    margin-top: 20px;
}

#import-progress {
    max-width: 450px;
}

.display-hidden {
    display: none;
}

.rc-table {
    overflow: auto;
}

    .rc-table th, .rc-table td {
        white-space: normal;
        word-break: break-all;
    }

#row-to-search {
    margin-right: 7px;
}

.react-paginator {
    display: block;
    float: right;
}

.react-paginator-control {
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
}

.react-paginator-control-inactive {
    color: #ccc;
    font-size: 12pt;
    cursor: not-allowed;
}

.react-paginator-input {
    width: 25px;
}

.pure-form-stacked input[type="text"].activation-input {
    width: 320px;
}

#account-activation-box {
    margin-bottom: 12px;
}

#sidebar-userbox-menu {
    display: inline-block;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #49449B;
}

.pure-form-stacked input[type="text"] {
    width: auto;
}

.rc-table th, .rc-table td {
    padding: 12px 4px;
    cursor: default;
}

.rc-table th {
    background: #de604d;
    color: #fff;

    transition: none;
    -webkit-transition: none;
    font-size: 11pt;
}

.active-link, #menu .active-link, .active-link i {
    color: #49449B;
}

#account-menu {
    font-size: 13pt;
}

#account {
    margin-left: 12px;
}

#account.content > div:first-child {
    margin: 0px;
}

tr:hover i:before {
    content: "\f044";
}

.rc-table-row {
    font-size: 14px;
}

td a {
    text-decoration: none;
    color: #2956a5;
}
